body {
    font: 30px "Century Gothic", Futura, sans-serif;
    margin: 200px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgb(235, 209, 64);
    border: 5px solid #999;
    float: left;
    font-size: 54px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }

  .square.highlight {
    background: #ddd
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 200px;
  }
  